html {
  scroll-behavior: smooth;
}

html,
body,
header,
section,
footer {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: white;
}

#cares-bar {
  font-family: "Overpass", "sans-serif";
  position: fixed;
  width: 100%;
  background-color: #fdb715;
  height: 40px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  top: 0;
  font-size: 14px;
  z-index: 1;
}

#cares-bar h6 {
  line-height: 72px;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.525px;
}

.button {
  background-color: #434345;
  display: inline-block;
  font-weight: 400;
  border-radius: 3px;
  line-height: initial;
  text-transform: none;
  font-size: 14px;
  padding: 5px 6px;
  margin-left: 8px;
  border: none;
  color: white;
  transition: 0.1s;
}

.button:hover {
  background-color: black;
  transition: 0.1s;
}

.navbar {
  font-family: Overpass, "sans-serif";
  width: 100%;
  top: 45px;
  position: fixed;
  background-color: #2d2d2d;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  letter-spacing: 0.525px;
  z-index: 1;
}

.logo {
  height: 72px;
  width: 72px;
  background-image: url("https://elevenfifty.org/wp-content/themes/elevenfiftyacademy/assets/images/common/eleven-fifty-logo-shield.png"),
    none;
  background-position: center;
  background-size: 33px;
  background-repeat: no-repeat;
  background-color: #e33e42;
  transition: 0.5s;
}

.logo:hover {
  background-color: #ba1d22;
  transition: 0.5s;
}

#title-text {
  color: white;
  line-height: 72px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: auto;
  font-family: "Crimson Text", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#title-text a {
  text-decoration: none;
  color: white;
}

.nav-list {
  color: white;
  margin-left: auto;
  cursor: pointer;
  border-right: 0;
  margin: 0;
}

/* Create dropdown menu */
.nav-list li {
  display: inline-block;
  padding: 0 18px;
  transition: 0.5s;
  cursor: pointer;
  padding-top: 23px;
  padding-bottom: 24px;
}

.nav-list li ul {
visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.nav-list li:hover > ul,
.nav-list li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-list li ul li {
  clear: both;
  width: 100%;
}


.nav-list li:hover {
  background-color: #202020;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

#nav-search {
  margin: 0 0 0 0;
}

#schedule-meeting {
  border-left: #fff solid 4px;
  padding: 0 40px;
  line-height: 72px;
  align-self: flex-end;
  background-color: #348db9;
  transition: 0.5s;
  cursor: pointer;
}

#schedule-meeting:hover {
  background-color: #51aad7;
  transition: 0.5s;
}

#schedule-meeting a {
  color: white;
  text-decoration: none;
}

#apply-now {
  border-left: #fff solid 4px;
  padding: 0 40px;
  line-height: 72px;
  align-self: flex-end;
  color: white;
  text-decoration: none;
  background-color: #e33e42;
  transition: 0.5s;
  cursor: pointer;
}

#apply-now a {
  text-decoration: none;
  color: white;
}

#apply-now:hover {
  background-color: #ba1d22;
  transition: 0.5s;
}

#container-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 978px;
  width: 100%;
  clear: both;
  color: white;
}

#elevenFiftyVideo {
  position: absolute;
  left: 0;
  top: 12%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

#heading-one {
  font-family: Overpass, "sans-serif";
  font-weight: 900;
  font-size: 55px;
  padding: 0.25em 22px;
  margin-bottom: 0.58em;
  background-color: #000000b3;
}

#heading-one-link {
  font-family: Overpass, "sans-serif";
  font-size: 32px;
  padding: 0.39em 0.65em 0.34em;
  letter-spacing: 0.075em;
  margin-right: 10px;
  margin-bottom: 7px;
  font-weight: 800;
  color: white;
  text-decoration: none;
  background-color: #e33e42;
  transition: 0.5s;
}

#heading-one-link:hover {
  background-color: #ba1d22;
  transition: 0.5s;
}

#heading-one-link:visied {
  color: white;
  text-decoration: none;
}

.banner-scroll {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
  color: transparent;
}

.span-one {
  padding: 0 0 20px 0;
  color: white;
}

.span-one a {
  color: #efefef;
  transition: 0.5s;
}

.span-one a:hover {
  color: red;
  transition: 0.5s;
}

#container-two {
  width: 100%;
  height: 530px;
  background-color: #efefef;
  padding: 85px 0;
  text-align: center;
  clear: both;
}

#container-two h1 {
  font-family: Overpass, "sans-serif";
  color: #348db9;
  font-size: 60px;
  margin: 0 0 12px 0;
  letter-spacing: 3px;
  font-weight: 600;
}

.cards-flex {
  font-family: Overpass, "sans-serif";
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  clear: both;
  background-color: #efefef;
}

.card-content {
  text-align: left;
  display: flex;
  margin: 0 8px 0 8px;
  padding: 0;
  width: 366px;
  height: 412px;
  background-color: white;
  flex-direction: column;
  transition: 0.2s;
}

.card-content:hover {
  -webkit-filter: brightness(70%);
}

.card-content h2 {
  background-color: white;
  max-height: 120px;
  min-height: 120px;
  margin: 0;
  padding: 21px 34px 0 34px;
  font-size: 36px;
  font-weight: 550;
  letter-spacing: 0.525px;
}

.card-content p {
  min-height: 240px;
  background-color: white;
  margin: 0;
  padding: 21px 34px 0 34px;
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.525px;
  color: #676767;
}

.card-content h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 52px;
  min-height: 52px;
  margin: 0;
  padding: 0;
  padding-top: 0;
  color: white;
  align-items: center;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.525px;
  background-color: #e33e42;
}

.cards-flex a {
  text-decoration: none;
  color: black;
}

.cards-flex a:visited {
  text-decoration: none;
  color: black;
}

#container-three {
  min-height: 414px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Overpass, "sans-serif";
}

#container-three-items {
  margin-top: 40px;
  display: flex;
  width: 58%;
}

#container-three-items img {
  padding: 55px 40px 40px 40px;
}

.container-three-text h4 {
  letter-spacing: 1.8px;
  line-height: 43px;
  font-weight: 400;
  color: #348db9;
  font-size: 36px;
  margin-bottom: 23px;
}

.container-three-text p {
  color: #676767;
  letter-spacing: 0.525px;
  line-height: 31px;
  font-weight: 400;
  font-size: 21px;
}

#container-four {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 530px;
  /* background-image: url("https://elevenfifty.org/wp-content/themes/elevenfiftyacademy/assets/images/common/bckgrnd-diag-btm.png");
  background-repeat: no-repeat;
  background-size: 50%;
  transform: scaleY(-1); */
  background-color: whitesmoke;
}

#container-four-items {
  margin-top: 40px;
  display: flex;
  width: 78%;
}

#container-four-items iframe {
  margin-right: 30px;
}

#container-four-text {
  font-family: Overpass, "sans-serif";
  max-width: 563px;
}

#container-four-text h1 {
  color: #348db9;
  font-size: 90px;
  margin: 0;
  letter-spacing: 0.525px;
  font-weight: 900;
}

#container-four-text p {
  color: #676767;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.525px;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 30px;
}

#blue-bar {
  display: flex;
  width: 100%;
  height: 91px;
  align-items: center;
  background-color: #4b8bb5;
}

#blue-bar a {
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  letter-spacing: 0.525px;
  font-family: "Overpass", "sans-serif";
  font-size: 21px;
  font-weight: 600;
  line-height: 31px;
}

#blue-bar a:visited {
  color: white;
  text-decoration: none;
}

#blue-bar a:hover {
  color: white;
  text-decoration: underline;
}

#container-five {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 663px;
  background-color: #efefef;
}

#container-five-items {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 493px;
  justify-content: center;
}

#container-five-col-one {
  font-family: "Overpass", "sans-serif";
  font-size: 18px;
  min-width: 400px;
  margin: 0;
  display: flex;
  line-height: 27px;
  flex-direction: column;
  color: #676767;
  margin-left: 100px;
  letter-spacing: 0.525px;
}

#container-five-col-two {
  padding-left: 70px;
  margin-right: 16px;
}

#container-five-col-three {
  font-family: "Overpass", "sans-serif";
  font-size: 18px;
  margin-top: 62px;
  min-width: 450px;
  max-width: 450px;
  color: #676767;
  line-height: 27px;
  letter-spacing: 0.525px;
  font-weight: 400;
}

.container-five-heading-text {
  letter-spacing: 1.8px;
  font-weight: normal;
  color: #348db9;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 23px;
  line-height: 43px;
  font-family: "Overpass", "sans-serif";
}

#container-footer {
  display: flex;
  width: 100%;
  height: 476px;
  background-color: #2d2d2d;
}

.calendar-entry {
  display: flex;
  align-items: center;
  min-height: 120px;
  max-height: 120px;
}

.gray-square {
  background-color: #bbb;
  min-width: 84px;
  min-height: 84px;
  max-width: 84px;
  max-height: 84px;
  float: left;
  margin-right: 12px;
}

#container-five-red-button {
  font-family: "Overpass", "sans-serif";
  letter-spacing: 1.575px;
  padding: 5px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-end;
  color: white;
  text-decoration: none;
  background-color: #e33e42;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 700;
}

#container-five-red-button:hover {
  text-decoration: none;
  color: white;
  background-color: #ba1d22;
}

#trx {
  color: #e33e42;
  text-decoration: none;
}

#trx:hover {
  color: #ba1d22;
  text-decoration: underline;
  text-decoration-color: #ba1d22;
}

#trxb {
  color: #e33e42;
  text-decoration: none;
  font-weight: 700;
}

#trxb:hover {
  color: #ba1d22;
  text-decoration: underline;
  text-decoration-color: #ba1d22;
}

.calendar-entry-div h5 {
  color: #e33e42;
}

.calendar-entry-div h5,
p {
  margin: 0;
}

/* <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> */